#custom .navbar-nav > li {
    margin: 0 .5rem;
}
#custom .light-grey {
    background-color: #F0F0F0;
}

#custom #logo-img {
    width: 105px;
    height: 105px;
    z-index: 3;
    position: relative;
}
#custom #white-bar{
    height: 3.4rem;
    background-color: white;
    z-index: 0;
    position: absolute;
    padding-top: 3rem;
    margin-top: 10% !important;
}
#custom .circle {
    border: 6px solid white;
    border-radius: 50%;
}
#custom .circle-text {
    font-size: 24px;
    color: white;
}
